#sidebar {
  height: 100vh;
  padding: 3em 1.5em;

  .container {
    display: flex;
    align-items: center;
    flex-flow: column;
  }

  #locateMeBtn {
    background-color: white;
    color: black;
    margin: auto;

    &:hover {
      background-color: #ededed;
    }

    &:active {
      background-color: #c6c6c6;
    }
  }

  .input-field {
    background-color: white;

    input {
      color: black;
      border: none;
    }
    ul li span {
      color: black;
    }

    .caret {
      fill: black;
    }
  }
}
